.library {
  padding: 20px 50px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      flex: 14%;
      max-width: 280px;
      height: 420px;
      position: relative;
      cursor: pointer;

      .imgContainer {
        width: 100%;
        height: 400px;
        position: relative;

        .img {
          object-fit: cover;
        }
      }

      .desc {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // gap: 20px;
        padding: 30px 10px;

        .title {
          text-align: center;
        }

        .seasons {
          font-size: 18px;
          font-weight: 500;
        }

        .info {
          text-align: center;
          span {
            margin-right: 10px;

            &::after {
              content: '-';
              font-size: 18px;
              font-weight: 500;
              margin-left: 10px;
            }
            &:last-child::after {
              content: '';
            }
          }
        }

        .plot {
          text-align: justify;
          color: gray;
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 18px;

          .icon {
            cursor: pointer;
            &:hover {
              color: red;
              -webkit-box-shadow: 1px 0px 28px 0px rgb(255, 0, 0);
              -moz-box-shadow: 1px 0px 28px 0px rgb(255, 9, 9);
              box-shadow: 1px 0px 28px 0px rgb(252, 1, 1);
            }

            &:nth-child(2):hover {
              color: lime;
            }

            &:nth-child(3):hover {
              color: blue;
            }

            &:last-child:hover {
              color: yellow;
            }
          }
        }
      }

      .filter {
        display: none;
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: 1;
        background: #0000009c;
      }

      &:hover {
        .singleTitle {
          display: none;
        }
        .desc {
          display: flex;
          transition: all 0.6s ease;
        }

        .filter {
          display: block;
        }
      }
    }
  }
}
