.listItem {
  width: 325px;
  height: 120px;
  background: white;
  margin-right: 5px;
  overflow: hidden;
  background: var(--main-color);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .imgContainer {
    width: 325px;
    height: 120px;
    position: relative;

    .img {
      object-fit: cover;
    }
  }

  .itemInfo {
    display: none;
  }

  .trailer {
    display: none;
  }

  &:hover {
    width: 365px;
    height: 320px;
    -webkit-box-shadow: 1px 3px 28px 0px rgba(255, 255, 255, 0.23);
    -moz-box-shadow: 1px 3px 28px 0px rgba(255, 255, 255, 0.23);
    box-shadow: 1px 3px 28px 0px rgba(255, 255, 255, 0.23);
    border-radius: 5px;

    .imgContainer {
      width: 360px;
      height: 160px;
      display: none;

      .img {
        display: none;
      }
    }

    .trailer {
      display: block;
      width: 360px;
      height: 160px;
      object-fit: cover;
    }

    .itemInfo {
      padding: 10px;
      color: white;
      font-size: 13px;
      line-height: 13px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .icons {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        .icon {
          cursor: pointer;
          &:hover {
            color: red;
            -webkit-box-shadow: 1px 0px 28px 0px rgb(255, 0, 0);
            -moz-box-shadow: 1px 0px 28px 0px rgb(255, 9, 9);
            box-shadow: 1px 0px 28px 0px rgb(252, 1, 1);
          }

          &:nth-child(2):hover {
            color: lime;
          }

          &:nth-child(3):hover {
            color: blue;
          }

          &:last-child:hover {
            color: yellow;
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        color: gray;

        .limit {
          border: 1px solid gray;
          padding: 1px 3px;
        }
      }
    }
  }
}
