.back {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  .icon {
    font-size: 24px;
  }

  opacity: 0;
  transition: all 0.6s ease;

  &:hover {
    opacity: 1;
  }
}
