.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .input {
    display: none;

    input {
      width: 420px;
      padding: 0.5rem 1rem;
      border-radius: 16px;
      border: none;
      outline: none;
      background: rgba($color: rgb(44, 42, 42), $alpha: 1);
      color: white;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .search-icon {
    position: absolute;
    right: 10px;
    color: gray;
  }

  .show-input {
    display: flex;
    margin-right: 1rem;
  }
}
